html,
body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
}

main,
section,
header,
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: flex-start;
}

main {
  padding: 1rem;
}

section {
  margin: 1.5rem auto;
}

form {
  width: 100vw;
}

small {
  color: #666;
}

figure {
  display: flex;
  place-content: center;
  place-items: center;
}

img {
  width: 100%;
  height: auto;
}

a,
button {
  cursor: pointer;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  text-shadow: 2px 2px #222;
  font-family: var(--font-norris);
}

ul {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  width: 100%;
  list-style: none;
}
